body {
    background-color: #E0E0E0;
}

a:hover, a:visited, a:active, a:link {
    color: #666584;
}

.container {
    width: 650px;
    margin: auto;
    background-color: #5C6B7B;
}

.container>.container {
    width: 600px;
    margin: auto;
    background-color: white;
}

.col {
    padding: 0px;
}